body {
    background-image: url("background.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin-top:0;
    font-size: x-large;
}

#grid {
    border-radius: 20px;
    border: 3px solid #000000;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(20,30px);
}

#grid div {
    width: 30px;
    height: 30px;
    border: 0px solid #5c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#titlewrapper {
    position: absolute;
    top: 0;
    font-size: xxx-large;
    z-index: 999;
    background: #32a5cf;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 15%;
  }

.floor {
    background-image: url("classicfloor.jpg");
    background-size: 100%;
}

.char1 {
    background-image: url("00.png");
    background-size: 100%;
}
.char2 {
    background-image: url("10.png");
    background-size: 100%;
}
.char3 {
    background-image: url("20.png");
    background-size: 100%;
}
.char4 {
    background-image: url("01.png");
    background-size: 100%;
}
.char5 {
    background-image: url("11.png");
    background-size: 100%;
}
.char6 {
    background-image: url("21.png");
    background-size: 100%;
}
.char7 {
    background-image: url("02.png");
    background-size: 100%;
}
.char8 {
    background-image: url("12.png");
    background-size: 100%;
}
.char9 {
    background-image: url("22.png");
    background-size: 100%;
}
.char10 {
    background-image: url("03.png");
    background-size: 100%;
}
.char11 {
    background-image: url("13.png");
    background-size: 100%;
}
.char12 {
    background-image: url("23.png");
    background-size: 100%;
}
.runningman {
    background-image: url("runninggirl.gif");
    background-size: 100%;
}

#character {
    position: absolute;
    width: 90px;
    height: 120px;
    background-image: url("runninggirl.gif");
    background-size: cover;
    top: 410px;
    left: 300px;
    z-index: 10;

#border {
    position: relative;
    display: inline-block; }
}
