body {
    background-color: #000000 ;
    background-size: 100%;
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin-top:0;
    font-size: x-large;
}

#grid {
    border-radius: 20px;
    border: 3px solid #000000;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(20,30px);
}

#grid div {
    width: 30px;
    height: 30px;
    border: 0px solid #5c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#titlewrapper {
    position: absolute;
    top: 0;
    font-size: xxx-large;
    z-index: 10;
    background: #32a5cf;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 15%;
}

.floor {
    background-color: rgb(25, 94, 134);
    background-size: 100%;
    border: 5px solid #000000
}

.runningman {
    background-image: url("runninggirl.gif");
    background-size: 100%;
}

#character {
    position: absolute;
    width: 120px;
    height: 163px;
    background-image: url("runninggirl.gif");
    background-size: cover;
    top: 380px;
    left: 300px;
    z-index: 10;
    transition: top 0.5s ease;
}

#border {
    position: relative;
    display: inline-block; 
}

.characterback {
    background-color: #000000;
    background-size: 100%;
}

.robot1 {
    background-image: url("robot2.webp");
    background-size: cover;
}
.robot2 {
    background-image: url("robot1.webp");
    background-size: cover;
}

#lives {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
    z-index: 20;
  }
  
.heart {
    width: 70px;
    height: 70px;
    background-image: url("heart.png");
    background-size: cover;
}

.heart.lost {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  

#gamestart {
    position: absolute;
    width: 1200px;
    height: 550px;
    background-color: #32a5cf;
    border: 5px solid #705f5f;
    background-size: cover;
    top: 20;
    left: 0px;
    z-index: 40;
}

.gem {
    background-color: red;
}